@import "reset.css";
:root {
    --cor-de-fundo: #f7f7f7;
    --cor-de-cabeçalho: rgb(221, 175, 175);
   --cor-de-texto-principal: rgb(29, 18, 18);
   --cor-menu: #16c398;
   --cor-menu-itens: rgb(209, 205, 197);
   --fonte-principal: "Poppins";
   font-family: 'Poppins', sans-serif;
}
body {
   background-color: var(--cor-de-fundo);
   font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
h1 {
    background-color: rgb(141, 202, 197);
    color: var(--cor-de-texto-principal);
}
